<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
</head>

    <div class="wrapper">
        <header>
            <h1 class="px-3 py-3">Tech Blog</h1>
            <nav class="navbar mt-2">
                {{#if loggedIn}}
                <a href="/" class="navbar-item pt-1">Home</a>
                <a href="/dashboard" class="navbar-item pt-1">Dashboard</a>
                <a href="/dashboard/create/" class="navbar-item pt-1 mr-4">Post</a>
                <button id="logout" class="button">Logout</button>
                {{else}}
                <a href="/" class="navbar-item pt-1">Home</a>
                <a href="/login" class="button">Login</a>
                {{/if}}
            </nav>
        </header>

        <main>
                {{{ body }}}
        </main>

        <footer class="footer rows pb-2">
            <div class="row-is-full content has-text-centered">
                <p>
                <a href="/">Home</a>{{#if loggedIn}} | 
                <a href="/dashboard/">Dashboard</a> | 
                <a href="/dashboard/create/">Post</a>
                {{else}}
                | <a href="/login/">Login</a>
                {{/if}}
                </p>
            </div>
        <div class="row-is-full content has-text-centered">
        <p>
        <h1>Tech Blog</h1>
        </p>
    </div>
    </footer>
</div>

{{#if loggedIn}}
<script src="/js/logout.js"></script>
{{/if}}
</body>

</html>